@import url(../../estilosBase.css);


.container {
    display: flex;
}

aside {
    width: 220px;
    background-color: #1faffa;
    padding: 20px;
    color: rgb(0, 0, 0);
    overflow-y: auto;
}

main {
    flex-grow: 1; 
    background-color: #7acdfa;
    padding: 30px;
    overflow-y: auto;
}

h2{
    width: 80%;
}
h2 img {
    margin-right: 10px;
}

.lista_cursos .informacion_curso {
    border: 1px solid #000;
    background-color: #b4ddf4;
    padding: 10px;
    margin-bottom: 20px;
    list-style-type: none;
}

.container_listas_curso {
    display: flex;
}


.lista_lecciones{
    flex: 0 0 50%;
}

.buscador_cursos{
    display: flex;
    justify-content: center;
    background-color: #BBD7F0;
    text-align: center;
    padding-bottom: 80px;
    padding-top: 50px;
    width: 100%;
    border: 1px solid #000;

}
button {
    border: none;
    padding: 5px 8px;
    background-color: #BBD7F0;
}
button:hover {
    background-color: #ddd;
    cursor:pointer;
}
section input {
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid #000000
}
ul li{
    padding-bottom: 20px;
}

.flecha_ampliar{
   margin-left: auto;
    margin-top: auto;
    margin-bottom:auto;
}

.cabecera{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap:10%;
}
.cabecera h2{
    display: flex;
    align-items: center;
}

