body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    text-align: justify;
    padding: 0;
    margin: 0 150px;
    box-sizing: border-box;
    background-color: #000000;


}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    margin: 0;
    font-size: large;
    font-weight: bold;
    text-decoration: underline;
    background-color: #6164FA;
    border: 1px solid #000;
}


nav{
    background-color: #43f3fa;
}

main{
    padding: 30px 30px;
    margin: 0;
    background-color: #c4d3df;
    border: 1px solid #000;
}

aside{
    margin: 0;
    background-color: #6164FA;
    border: 1px solid #000;
}

.VideoFondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.Titulo{
    width: 27.2%;
    height: 100%;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Titulo > * {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
}


.Titulo a:visited, .Titulo a:link{
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(153, 153, 237);
}

.Titulo a:hover{
    background-color: rgb(100, 100, 155);
}

section{
    border: 1px solid #000;
    background-color: #BBD7F0;
    padding: 2% 5%;
    
}

a:visited, a:link{
    color:black;
}

.lista_lecciones li{
    cursor: pointer;
    text-decoration: underline;
}
.lista_cursos .lista_logros li, .lista_lecciones li{
    border: 0;
    padding: 0;
    margin-bottom: 10px;
    list-style-type: disc;
    
}