@import url(../../estilosBase.css);

h4{
    font-weight: strong;
}



section{
    padding-left: 15%;
    padding-right: 15%;
}  

@media (max-width: 767px) { /* Móvil */
    body { font-size: 12px; }
  }