@import url(../estilosBase.css);

#logo {
    display: flex;
    align-items: center; /* Asegura que la imagen y el texto estén alineados */
}

#Titulo {
    text-decoration: none; /* Opcional: para quitar el subrayado del enlace */
}