@import url(/proyecto1/estilosBase.css);
/*
a:link, a:visited {
    color: #000000;
    text-decoration: none;
    back
}
a:hover{
    color: #000000;
    text-decoration: underline;
    cursor: pointer;
}*/