@import url(/proyecto1/estilosBase.css);

section a:link, a:visited {
    color: #ffffff;
    text-decoration: none;
    background-color: #5f5b5b;
    padding: 5px 10px;
    border-radius: 5px;
}

section a:hover {
    color: #ffffff;
    text-decoration: underline;
    cursor: pointer;
    background-color: #333333;
}

#texto1{
    text-align: center;
    font-style: italic;
}
#cal{
    width: 10%;
    margin-left: auto;
    margin-right: auto;
}

#code{
    text-transform: uppercase;
}