@import url(/proyecto1/estilosBase.css);

/* Estilos BASE para ordenador - más de 1200px  */
main {
    border: 1px solid #000;
    align-items: center;
    z-index: 1;
    background-color: #6164FA;
    margin: 15% 25% 0 25%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

.contenedor {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    gap: 10px;
}

.campo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    text-align: right;
    width: 100%;
}

.campo label {
    min-width: 150px;
    flex: 1;
    text-align: left;
}

.campo input {
    min-width: 150px;
    flex: 1;
}

main figure {
    margin: 0;
    text-align: center;
}

main button {
    background-color: #8aafbb;
    border: 2px solid #000;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    color: black;
    font-weight: bold;
}

.texto {
    font-size: 15px;
    color: rgb(0, 0, 0);
}


/* Pequeñas pantallas de ordenador - 1200px */
@media (max-width: 1199px) {
    main {
        margin: 16% 20% 0 20%;
    }
    
    .campo label {
        min-width: 180px;
    }
    
    .texto {
        font-size: 14px;
    }
}

/* Tablets - 992px */
@media (max-width: 991px) {
    main {
        margin: 30% 15% 0 15%;
    }
    
    .campo label {
        min-width: 150px;
    }
    
    main button {
        padding: 8px 15px;
    }
}

/* Moviles - 768px */
@media (max-width: 767px) {
    main {
        margin: 50% 5% 0 5%;
    }
    
    .campo {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }
    
    .campo label {
        min-width: 120px;
        text-align: left;
    }
    
    .campo input {
        min-width: 100%;
        width: 100%;
    }
    
    main button {
        padding: 5px 10px;
        width: 100%;
    }
    
    .texto {
        font-size: 13px;
    }
}