@import url(/proyecto1/estilosBase.css);

/* Centrar el contenido del main */
main {
    border: 1px solid #000;
    align-items: center; /* Centra horizontalmente los objetos del main */
    z-index: 1; /* Coloca el contenido por encima del video */
    background-color: #6164FA;  /* Fondo semitransparente para mejor legibilidad */
    margin: 15% 25% 0 25%; /* margenes de la caja para todos los lados arriba izquierda abajo derecha*/
    padding: 20px; /* Espaciado interno */
    box-sizing: border-box; /* Incluye el padding en el tamaño total */
    border-radius: 10px;
}

.contenedor{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    gap: 10px;
    
}

.campo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    text-align: right;
}
.campo label{
    min-width: 200px;
    text-align: left;
}
.campo input{
    min-width: 150px;
    align-items: right;
}




/* Estilos para la imagen */
main figure {
    margin: 0;
    text-align: center; /* Centra la imagen */
}

main button{
    background-color: #8aafbb;
    border: 2px solid #000;
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 4px;
    color: black;
    font-weight: bold;
}

.texto {
    font-size: 13px;
    color: rgb(0, 0, 0);
}
