@import url(/proyecto1/estilosBase.css);


main{
    padding: 0;
}
.faq{
    align-items: center;
    border: 2px solid #000;
    background-color: #34c4c9;
}

.contacto{
    align-items: center;
    border: 2px solid #000;
    background-color:#BBD7F0;
}

.sobreNosotros {
    display: grid;
    padding: 4% 5%;
    grid-template-columns: 1,2fr 1fr 1fr 1fr; 
    grid-template-rows: repeat(4, auto);
    gap: 3%;
    align-items: center;
    justify-items: center;
    border: 2px solid #000000;
    background-color: #2f5ebd;
    color: white;
}

#parte1{
    grid-row: 1;
    grid-column: 1/5;
}
#parte2{
    grid-row: 2/4;
    grid-column: 1;
}
#parte3{
    grid-row: 2;
    grid-column: 2/4;
}
#img1{
    grid-row: 2;
    grid-column: 4;
}
#img1{
    grid-row: 3;
    grid-column: 2;
}
#parte4{
    grid-row: 3;
    grid-column: 3/5;
}
#parte5{
    grid-row: 4;
    grid-column: 1/5;
    padding-bottom: 5%;
}

h1 {
    font-size: 30px;
}


.titulo_faq{
    color: white;
    text-align: center;
}
dl dt{
    font-weight: bold;
    padding-top: 10px;
}
dl dd{
    padding-bottom: 20px;;
}
dl dt::before {
    content: "• ";
    color: black; 
}

dl{
    padding-left: 150px;;
}

.redes_sociales{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15%;
    padding: 20px 80px 30px 80px; /*arriba | derecha | abajo | izquierda*/
    
}

.red{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
}

.icono{
    margin-bottom: 12px; /*Margen entre el icono de las redes sociales y el texto de debajo de cada una de ellas*/
}


.titulo_contacto{
    color: black;
    text-align: center;
    text-decoration: underline;
}